/* Drapeau du Japon */
#japon .flag {
  background: white;
  display: flex;
  

   }
 
#japon.cercle{
  color: red;
height: 100%;
width: 100%;
border-radius: 200%;
}

/* --------------------*/

/* Drapeau de l'Arménie */
#armenie .flag{
  
}


/* --------------------*/

/* Drapeau de la Côte d'Ivoire */
#cote-ivoire .flag{
    
}
  

/* --------------------*/

/* Drapeau de l'Estonie */

#estonie .flag{
    
}

/* --------------------*/

/* Drapeau des Palaos */
#palaos .flag{
    
  }
  
/* --------------------*/

/* Drapeau de Madagascar */

#madagascar .flag{
    
}

/* --------------------*/

/* Drapeau de la Gambie */
#gambie .flag{
    
}

/* --------------------*/

/* Drapeau du Panama */
#panama .flag{
    
  }
/* --------------------*/

/* Drapeau du Laos */
#laos .flag {
    
}
/* --------------------*/

/* Drapeau du Libéria */
#liberia .flag{
    
}

/* --------------------*/

/* Drapeau du Botswana */

#botswana .flag{
    
}

/* ------------------*/


/* Drapeau du Burkina Faso */
#burkina-faso .flag{

}


/* Drapeau de la Norvège */

#norvege .flag {
    
}

/* --------------------*/


/* Drapeau de la RDC */

#rdc .flag{

}